<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Viagem - Trip Details</title>

    <!-- Bootstrap CSS -->
     
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

      <!-- Importa a fonte Poppins do Google Fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

     
</head>


<!-- Inclui o PlanYourTrip Form -->
<%- include('partials/planyourtrip') %>

    <!-- Inclui o header como template parcial -->
    <%- include('partials/header') %>

    <main class="container-fluid p-0">
        <!-- Seção HERO -->
        <section id="hero" class="d-flex align-items-center" style="background-image: url('/images/heros/tripdetails/RooeveltJourney.jpg'); height: 500px; object-fit: fill; background-position: right;">
          <div class="row w-50 m-5 text-white text-left">
            <h5 class="bg-black fit-content p-1 mx-3 rounded">Brazilian Amazon Tour</h5>
            <h1>Roosevelt Journey</h1>
          </div>
        </section>

        <!-- Seção NAVBAR-TRIP -->
        <section class="bg-light p-0 pt-5 w-100">
            <div class="container container-fluid justify-content-center align-items-center">
                <!-- Coluna 1 -->
                 
                <div class="row row-cols-5 row-cols-sm-5 row-cols-md-5">
                    <div class="col text-center border-end">
                    <h4>Location</h4>
                    <p class="text-muted">Amazon, Brazil</p>
                </div>
              
                <div class="col text-center border-end">
                    <h4 class="fw-bold">Duration</h4>
                    <p class="text-muted">8 Days</p>
                </div>

                <div class="col text-center border-end">
                  <h4 class="fw-bold">Group Size</h4>
                  <p class="text-muted">6</p>
              </div>

              <div class="col text-center border-end">
                <h4 class="fw-bold">Endemism areas</h4>
                <p class="text-muted">Rondônia</p>
            </div>
                <!-- Coluna 3 -->
                <div class="col text-center">
                

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-success p-7" data-bs-toggle="modal" data-bs-target="#exampleModal" data-tour="TOUR123">
   BOOK NOW
  </button>

  
    <!-- Inclui o header como template parcial -->
    <%- include('partials/tourjoinmodal') %>


                </div>
            </div>
          </div>
        </section>
        <section class="container my-4">
           
<div class="container py-5">
    
    <div class="row">
        <!-- Primeira Coluna: Carrossel de Imagens -->
        <div class="col-md-6">
            <!-- Carousel -->
            <div id="photoCarousel" class="carousel slide" data-bs-ride="false">
                <div class="carousel-inner rounded">
                    <!-- Item 1 -->
                    <div class="carousel-item active">
                        <img src="/images/tours/RooseveltJourney/thumb01.jpg" class="d-block w-100" alt="Photo 1">
                    </div>
                    <!-- Item 2 -->
                    <div class="carousel-item">
                        <img src="/images/tours/RooseveltJourney/thumb02.jpg" class="d-block w-100" alt="Photo 2">
                    </div>
                    <!-- Item 3 -->
                    <div class="carousel-item">
                        <img src="/images/tours/RooseveltJourney/thumb02.jpg" class="d-block w-100 " alt="Photo 3">
                    </div>
                </div>
                <!-- Botão Anterior -->
                <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <!-- Botão Próximo -->
                <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próximo</span>
                </button>
            </div>
        </div>
        

        <!-- Segunda Coluna: Bloco de Texto -->
        <div class="col-md-6 d-flex align-items-justify">
          
    
            <div>
              <h2 class="fw-bold">What to Expect</h2>
              
                <!-- Tab links -->
<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Experience')">Experience</button>
    <button class="tablinks" onclick="openCity(event, 'Guide')">Your Guide</button>
    <button class="tablinks" onclick="openCity(event, 'Food')">Food</button>
    <button class="tablinks" onclick="openCity(event, 'Accommoddation')">Accommoddation</button>
  </div>
 
  <!-- Tab content -->
  <div id="Experience" class="tabcontent">
    <p>
    The Roosevelt River journey is an extraordinary adventure that retraces the historic steps of President Theodore Roosevelt. In 1913-14, Roosevelt and Brazilian explorer Cândido Rondon embarked on the Roosevelt–Rondon Scientific Expedition to chart this once-uncharted Amazonian river, famously called the "River of Doubt." Following their footsteps, this journey blends historical significance with breathtaking natural beauty.
    This region of the Amazon is a paradise for birdwatchers, offering unparalleled biodiversity at the crossroads of two major endemic areas: Rondônia and Tapajós.
    </p><p>
    Here, you can spot remarkable species like the super rare Rondonian Wren and the Roosevelt Stipplethroat, which are coveted highlights for any birder. Exploring these forests and waterways immerses you in the vibrant sights and sounds of the Amazon’s avian life.
    The surrounding forests are alive with unique species, including the beautiful Black-girdled Barbet and the lovely Aripuana Antwren, showcasing the incredible range of endemic birds. 
    </p><p>
    Trails, flooded forests, and vibrant ecosystems along the Roosevelt River and its tributaries offer endless opportunities to witness the Amazon’s dynamic wildlife.
    This journey isn’t just about exceptional birdwatching—it’s about connecting with the spirit of exploration that defined Roosevelt’s expedition. From rich history to thriving biodiversity, this adventure promises unforgettable discoveries at every turn.
</p>    
</div>

  <div id="Guide" class="tabcontent">
    <p>
        Our team of bilingual ornithologist guides is highly trained and certified, with extensive knowledge of the region's birdlife. They will be responsible for guiding you through this incredible adventure during your stay in Brazil.
    </p><p>
The languages spoken during the tours will be English and Brazilian Portuguese. For other languages, translation apps can be used, or a local translator may be arranged upon prior request.    
    </p>
  </div>

  <div id="Food" class="tabcontent">
    <p>
        Your meals during this tour will be of excellent quality. The inn offers a premium all-inclusive service, featuring red meats, vegetables, and pasta, as well as the typical fish of the region.
        During birdwatching days, we will provide fruits, beverages such as water, regional fruit juices, and isotonic drinks to ensure you stay hydrated.
    </p> <p>
        Additionally, coolers and thermal bags will be available so that each traveler can bring extra snacks of their choice for added comfort.
        </p><p>
        It is important to inform us of any food intolerances or dietary restrictions prior to the tour.
    </p>
  </div>

  <div id="Accommoddation" class="tabcontent">
    <p>
        The accommodations during your tour will be of excellent quality. Hotels in the city will be at least 4-star standard, ensuring comfort and convenience.
    </p>
    <p>
        During your stay at our lodge, we offer spacious double rooms with separate double beds, a shower, high-quality internet, and air conditioning.    </p>
  </div>


            </div>
        </div>
    </div>
</div>
        </section>
        <section class="container">
            <h2 class="fw-bold ms-2">Itinerary</h2>
      
            <%- include('/Itinerary_roosevelt.html') %>
        </section>
        <section style="background-color: rgb(42, 50, 48); color: white; padding: 40px 20px;">
            <div class="container">
                <div class="row">
                    <!-- Primeira Coluna -->
                    <div class="col-12 col-md-6 mb-4">
                        <h3 class="text-left">Inluded</h3>
                        <ul class="list-unstyled">
                            <li>- Ground transportation (car with driver)</li>
                            <li>- Boat transfer</li>
                            <li>- Expert guide and local guide</li>
                            <li>- Food and drinks in the lodges</li>
                            <li>- Water and fruits during the days</li>
                            <li>- All Accommodation</li>
                        </ul>
                    </div>
                    <!-- Segunda Coluna -->
                    <div class="col-12 col-md-6 mb-4">
                        <h3 class="text-left">Not included</h3>
                        <ul class="list-unstyled">
                            <li>- Laundry service</li>
                            <li>- Extra expenses during the tour</li>
                            <li>- Alcoholic drinks</li>
                            <li>- Extra nights in Manaus if necessary</li>
                            <li>- Photographic and observation equipment</li>
                            <li>- Tips</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
    </main>

    <div class="gallery-container bg-black">
        <!-- Thumbnails -->
        <div class="gallery-grid p-5">
            <img src="/images/tours/RooseveltJourney/Thumb01.jpg" alt="Imagem 1" class="thumb" onclick="openLightbox(0)">
            <img src="/images/tours/RooseveltJourney/Thumb02.jpg" alt="Imagem 2" class="thumb" onclick="openLightbox(1)">
            <img src="/images/tours/RooseveltJourney/Thumb03.jpg" alt="Imagem 3" class="thumb" onclick="openLightbox(2)">
            <img src="/images/tours/RooseveltJourney/Thumb04.jpg" alt="Imagem 4" class="thumb" onclick="openLightbox(3)">
            <img src="/images/tours/RooseveltJourney/Thumb05.jpg" alt="Imagem 5" class="thumb" onclick="openLightbox(4)">
            <img src="/images/tours/RooseveltJourney/Thumb06.jpg" alt="Imagem 6" class="thumb" onclick="openLightbox(5)">
            <img src="/images/tours/RooseveltJourney/Thumb07.jpg" alt="Imagem 1" class="thumb" onclick="openLightbox(6)">
            <img src="/images/tours/RooseveltJourney/Thumb08.jpg" alt="Imagem 2" class="thumb" onclick="openLightbox(7)">
            <img src="/images/tours/RooseveltJourney/Thumb09.jpg" alt="Imagem 3" class="thumb" onclick="openLightbox(8)">
            <img src="/images/tours/RooseveltJourney/Thumb10.jpg" alt="Imagem 4" class="thumb" onclick="openLightbox(9)">
            <img src="/images/tours/RooseveltJourney/Thumb11.jpg" alt="Imagem 5" class="thumb" onclick="openLightbox(10)">
            <img src="/images/tours/RooseveltJourney/Thumb12.jpg" alt="Imagem 6" class="thumb" onclick="openLightbox(11)">
            <img src="/images/tours/RooseveltJourney/Thumb13.jpg" alt="Imagem 1" class="thumb" onclick="openLightbox(12)">
            <img src="/images/tours/RooseveltJourney/Thumb14.jpg" alt="Imagem 2" class="thumb" onclick="openLightbox(13)">
            <img src="/images/tours/RooseveltJourney/Thumb15.jpg" alt="Imagem 3" class="thumb" onclick="openLightbox(14)">
            <img src="/images/tours/RooseveltJourney/Thumb16.jpg" alt="Imagem 4" class="thumb" onclick="openLightbox(15)">
            <img src="/images/tours/RooseveltJourney/Thumb17.jpg" alt="Imagem 5" class="thumb" onclick="openLightbox(16)">
            <img src="/images/tours/RooseveltJourney/Thumb18.jpg" alt="Imagem 6" class="thumb" onclick="openLightbox(17)">
       
       
       
        </div>
       

    </div>

    <!-- Lightbox -->
    <div id="lightbox" class="lightbox">
        <span class="close" onclick="closeLightbox()">&times;</span>
        <div class="lightbox-content">
            <img src="/images/tours/RooseveltJourney/Thumb01.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb02.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb03.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb04.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb05.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb06.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb07.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb08.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb09.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb10.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb11.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb12.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb13.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb14.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb15.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb16.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb17.jpg" class="lightbox-image">
            <img src="/images/tours/RooseveltJourney/Thumb18.jpg" class="lightbox-image">
        </div>
        <div class="lightbox-thumbs">
            <img src="/images/tours/RooseveltJourney/Thumb01.jpg" onclick="changeImage(0)">
            <img src="/images/tours/RooseveltJourney/Thumb02.jpg" onclick="changeImage(1)">
            <img src="/images/tours/RooseveltJourney/Thumb03.jpg" onclick="changeImage(2)">
            <img src="/images/tours/RooseveltJourney/Thumb04.jpg" onclick="changeImage(3)">
            <img src="/images/tours/RooseveltJourney/Thumb05.jpg" onclick="changeImage(4)">
            <img src="/images/tours/RooseveltJourney/Thumb06.jpg" onclick="changeImage(5)">
            <img src="/images/tours/RooseveltJourney/Thumb07.jpg" onclick="changeImage(6)">
            <img src="/images/tours/RooseveltJourney/Thumb08.jpg" onclick="changeImage(7)">
            <img src="/images/tours/RooseveltJourney/Thumb09.jpg" onclick="changeImage(8)">
            <img src="/images/tours/RooseveltJourney/Thumb10.jpg" onclick="changeImage(9)">
        </div>
    </div>

  <!---- script -->
    <script src="/script/scripts.js"></script>
    <script src="/script/modaljoin.js"></script>

    <!-- Inclui o footer como template parcial -->
    <%- include('partials/footer') %>


    <!-- Bootstrap JS e Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
